<header
  class="fixed top-0 left-0 right-0 z-50 border-b border-slate-800/60 bg-slate-950/80 backdrop-blur-md">
  <div
    class="mx-auto flex h-16 max-w-7xl items-center justify-between px-6">
    <a
      routerLink="/home"
      class="flex items-center gap-3">
      <div
        class="flex h-10 w-10 items-center justify-center rounded-xl bg-sky-500 text-lg font-bold text-white shadow-lg shadow-sky-500/30">
        R
      </div>
      <div>
        <div class="text-lg font-bold text-white">
          Reis Portal
        </div>
        <div class="text-xs text-slate-400">
          Plataforma Pessoal
        </div>
      </div>
    </a>
    <nav class="hidden items-center gap-8 md:flex">
      <a
        href="#"
        class="text-sm font-medium text-slate-300 transition hover:text-white">
        Recursos
      </a>
      <a
        href="#"
        class="text-sm font-medium text-slate-300 transition hover:text-white">
        Roadmap
      </a>
      <a
        href="#"
        class="text-sm font-medium text-slate-300 transition hover:text-white">
        Sobre
      </a>
      <a
  routerLink="/login"
  (click)="menuAberto = false"
  class="mt-3 block w-full cursor-pointer rounded-xl border border-slate-700 px-4 py-3 text-center text-slate-200 transition hover:border-sky-500 hover:bg-sky-500 hover:text-white">
  Entrar
</a>
    </nav>
    <button
      type="button"
      class="md:hidden text-white text-2xl"
      (click)="alternarMenu()">
      ☰
    </button>
  </div>
  <nav
  *ngIf="menuAberto"
  class="absolute left-0 top-16 w-full md:hidden border-t border-slate-800 bg-slate-950 px-6 py-4 shadow-xl">
    <a
      href="#"
      class="block py-3 text-slate-300 hover:text-white">
      Recursos
    </a>
    <a
      href="#"
      class="block py-3 text-slate-300 hover:text-white">
      Roadmap
    </a>
    <a
      href="#"
      class="block py-3 text-slate-300 hover:text-white">
      Sobre
    </a>
    <a
      routerLink="/login"
      class="mt-3 block rounded-xl border border-slate-700 px-4 py-3 text-center text-slate-200 hover:border-sky-500 hover:bg-sky-500 hover:text-white">
      Entrar
    </a>
  </nav>
</header>